[submodule "wowViewerLib/3rdparty/mathfu"]
	path = wowViewerLib/3rdparty/mathfu
	url = https://github.com/google/mathfu.git
[submodule "wowViewerLib/shaders/3rdparty/glsllang"]
	path = wowViewerLib/shaders/3rdparty/glsllang
	url = https://github.com/KhronosGroup/glslang.git
	branch = SPIR-V_1.5
[submodule "wowViewerLib/shaders/3rdparty/spirv-cross"]
	path = wowViewerLib/shaders/3rdparty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "wowViewerLib/3rdparty/oneTbb"]
	path = wowViewerLib/3rdparty/oneTbb
	url = https://github.com/Deamon87/oneTBBWasm.git
